<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Property>
        <Property name="ERROR_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%throwable{full}</Property>
        <Property name="APP_LOG_ROOT">logs</Property>
    </Properties>
    
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <!-- File Appender -->
        <RollingFile name="FileAppender"    
                     fileName="${APP_LOG_ROOT}/incident-report.log"
                     filePattern="${APP_LOG_ROOT}/incident-report-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <!-- Error File Appender -->
        <RollingFile name="ErrorFileAppender" 
                     fileName="${APP_LOG_ROOT}/error.log"
                     filePattern="${APP_LOG_ROOT}/error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${ERROR_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <!-- Application Loggers -->
        <Logger name="template.jasper" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="ErrorFileAppender" level="ERROR" />
        </Logger>
        
        <!-- JasperReports Logger -->
        <Logger name="net.sf.jasperreports" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="ErrorFileAppender" level="ERROR" />
        </Logger>
        
        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="ErrorFileAppender" level="ERROR" />
        </Root>
    </Loggers>
</Configuration>
